# Python / Entorno Virtual
__pycache__/
*.pyc
*.pyo
.venv
venv/
env/

# Credenciales y Logs
.env  # CRÍTICO: No subir variables de entorno con credenciales
*.log
local_settings.py

# Django
db.sqlite3
/media
/static

# IDE/Editor (VS Code)
.vscode/